@model CouponDto

<form asp-action="Create">
    <div class="container border p-3">
        <h1>Create Coupon</h1>
        <hr />
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger">
                @TempData["Error"]
            </div>
        }
        <div class="row">
            <div class="col-2">
                <label class="cotrol-label pt-2">Code</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="CouponCode" class="form-control" autofocus />
            </div>
            <div class="col-2">
                <label class="cotrol-label pt-2">Discount Amount</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="DiscountAmount" class="form-control" />
            </div>
            <div class="col-2">
                <label class="cotrol-label pt-2">Min Amount</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="MinAmount " class=" form-control" />
            </div>
            <div class="col-5 offset-2">
                <a asp-action="Index" class="btn btn-secondary form-control">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Create" class="btn btn-primary form-control" />
            </div>
        </div>
    </div>
</form>